@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;	
}
section#splash {
	background-image: url("../images/251h.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 980px;
	text-align: center;
	position: relative;
}

div#splash-content  {
	z-index: 3;
	position: relative;
	top: 0;
	left: 0;
}


div#overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	top: 0;
	left: 0;
}

header#quote {
	background-color: #000;
	color: #fff;
	font-size: 1.25em;
	padding: 1em; 
	text-align: center;
	letter-spacing: 2px;

}

#presents {
	font-size: 2em;
	font-variant: small-caps;
	word-spacing: 8px;
	padding: 7em 0 3em;
}

#fleuve {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 4.5em;

}

#fleuve a {
	text-decoration: none;
	color: #000;

}

#para {
	font-size: 2em;
	width: 22em;
	margin:1.5em auto;
	line-height: 1.5em;

}

#button {
	display:block;
	border: 2px solid #000;
	margin: auto;
	width: 13em;
	padding: 1.5em 0;
	font-weight: 200;
	text-decoration: none;
	color: #000;
}

#button:hover {
	background-color: #000;
	color: #fff;
}



header#vcu {
	background: #F8B801;
    color: #fff;
    text-align: center;
}

header#vcu h2 {
	font-size: 3.5em;
	padding: 1em 0;
}

nav {
	width: 26em;
	margin: auto;
}

nav a {
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.2em;
	display: inline-block;
	float: left;
	padding: 0 1em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0
}

section#story {
	
}

section#story h3 {
	font-size: 2.5em;
	margin: 2.5em 0 1em 1em;
}

div.split-column {
	float: left;
	width: 50%;
	padding: 2.5em;

}

p.prompt {
	font-size: 1.3em;
	margin-bottom: 1.5em;
}

p.answer {
	line-height: 1.7em;
}

section#interview h3 {
	font-size: 2.5em;
	margin: 2.5em 0 1em 1em;
}

div#video{
	margin: 5em auto 0;
	width: 960px;
}


br {
	line-height: 2.2em;
}

span.italics {
	letter-spacing: .05em;
	font-style: italic;
}




footer {
	font-weight: 300;
	text-align: center;
	font-size: 22px;
	padding-top: 200px;
}

footer a {
	text-decoration: none;
	color: #000;

}
