@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;	
}
section#splash {
	background-image: url("../images/251h.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	background-color: #000;
	color: #fff;
	padding: 1em; 
	text-align: center;
	font-weight: 200;
	letter-spacing: 2px;

}

section {
	text-align: center;
}


h1 {
	font-weight: 300;
	font-size: 2em;
	font-variant: small-caps;
	word-spacing: 8px;
	padding: 200px 0 100px;
}




#fleuve {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 4.5em;

}

#fleuve h2 a {
	text-decoration: none;
	color: #000;

}

#para {
	font-size: 2em;
	width: 22em;
	margin:1.5em auto;
	line-height: 1.5em;
	font-weight: 300;

}

#button {
	border: 2px solid #000;
	margin: auto;
	width: 300px;
	font-weight: 200;

}

#button a {
	text-decoration: none;
	color: #fff;
}

#button:hover {
	background-color: #fff;

}

#button:hover a {
	color: #000;
}


footer {
	font-weight: 300;
	text-align: center;
	font-size: 22px;
	padding-top: 200px;
}

footer a {
	text-decoration: none;
	color: #fff;

}
