@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Catamaran', sans-serif;
	font-size:16px;	
	background-color: #F1F3F2;
}

div.wrapper {
	position: relative;
	width: 90%;
	max-width: 1280px;
	margin: auto;
}

header {
	top: 0;
	padding: 1em 1em;
	position: fixed;
	background: #FFC126;
	width: 90%;
	max-width: 1280px;
}

a.move-right {
	font-size: .8em;
	text-decoration: none;
	color: #000;
	margin: 0 0.8em 0;
}

a#homepage {
	margin-right: 26em;
	font-size: 2em;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

section {
	position: relative;
}

h3 {
	color: #F1F3F2;
	display: block;
	padding: 2.6em 0 0 0.8em;
	font-size: 3.5em;
	font-weight: 700;
	line-height: 100%;

}

div#circle {
	width: 23.5em;
	height: 23.5em;
	border-radius: 50%;
	overflow: hidden;
	background-color: #000;
	position: fixed;
	top: 345px;
    right: -8%;
}


div#vid {
	margin: 10em 0 0 3em;
}


