@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
	background-color: #F1F3F2;

}

header {
	top: 0;
	padding: 1em 1em;
	position: fixed;
	background: #FFC126;
	width: 90%;
	max-width: 1280px;
}

a#left {
	float: left;
	width: 60%;
	font-size: 2em;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

a#middle {
	float: left;
	width: 20%;
	text-align: right;
	margin-top: 1.5em;
    padding: 0 2em;
	font-size: .8em;
	text-decoration: none;
	color: #000;
}

a#right {
	float:left;
	width: 20%;
	text-align: center;
    margin-top: 1.5em;
    padding: 0 2em;
	font-size: .8em;
	text-decoration: none;
	color: #000;
}

section.prompt_answer {
	margin: 1em 0;
	width: 42%;
	float: left;
}

h3 {
	font-weight: 700;
	margin: 1.5em 0 1.5em 1.5em;
}

p {
	padding: 1.5em 1.5em;
	line-height: 1.5em;
}


div#circle {
	width: 23.5em;
	height: 23.5em;
	border-radius: 50%;
	overflow: hidden;
	background-color: #000;
	position: fixed;
	top: 345px;
    right: -8%;

}

h1 {
	font-size: 4.5em;
    color: #FFC126;
    height: 100%;
    margin: 1.2em 1em 0em 1em;
    line-height: 100%;
}

br{
	line-height: 2.5em;
}


div#wrapper {
	margin: 10em 0 0 -1.2em;
	width: 100%;
}

div#pagewrap{
	width: 90%;
	max-width: 1280px;
	margin: auto;
	position: relative;
}

.clearfix:after{
	height:0;
	font-size:0;
	visibility: hidden;
	content: "?";
	display: block;
	clear: both;
}

@media only screen and (max-width: 1200px) {
	section.prompt_answer {
		float: none;
		width: 70%;
	}
}
@media only screen and (max-width: 865px) {
	a#left {
		width:40%;
	}
	a#middle {
		width:30%;
	}
	a#right {
		width: 30%;
	}
	div#circle {
		width: 20em;
		height: 20em;
		top: 60%;
	    left: 70%;
	}
	h1{
		font-size: 3.2em;
		margin: 1.7em 2.1em 0 1.2em;
	}
}
@media only screen and (max-width: 665px) {
	
}
